/***********************************************************************************/
/*                                                                                 */
/*                              General Rules                                      */
/*                                                                                 */
/***********************************************************************************/
body {
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right, #fd746c, #ff9068);
 	background-image: -webkit-linear-gradient(top left, #fd746c, #ff9068);
}
.whitebox{
	width: 1200px;
	height: 600px;
	margin-left: 10%;
	margin-top: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -600px;
	background-color: #FFF;
	color: #4a6777;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
/***********************************************************************************/
/*                                                                                 */
/*                              City Search Screen                                 */
/*                                                                                 */
/***********************************************************************************/
.citysearchbox{
	text-align: center;
}
.inputCity{
	margin-top: 200px;
	text-align: center;
	border-bottom: 2px solid #4a6777;
	border-top: none;
    border-right: none;
    border-left: none;
    width: 50%;
    font-size: 44px;
    color: #a9a9a9;
    font-weight: 600;
}
.searchIcon{
	margin-left: -40px;
	font-size: 40px;
	cursor: pointer;
}
.boxCityChoose p{
	margin: 25px 0;
}
.currentPositionLink{
	cursor: pointer;
	border-bottom: 1px dashed #4a6777;
}

/***********************************************************************************/
/*                                                                                 */
/*                            Weather Report Screen                                */
/*                                                                                 */
/***********************************************************************************/

.firstLineResults{
	margin: 50px;
	height: 50px;
}
.backButton{
	cursor: pointer;
	float: left;
}
.backButton i{
	font-size: 50px;
}
.cityName{
	font-size: 38px;
	margin-top: 5px;
	margin-left: 30px;
	float: left;
	font-weight: 500;
}
.scaleChooser{
	float: right;
}
.scaleIcon{
	float: right;
	font-size: 20px;
}
.scaleToogle{
	font-size: 52px;
	float: right;
	margin-top: -15px;
	cursor: pointer;
}
.dateLineResults{
	margin: -20px 50px 20px 50px;
	font-size: 38px;
	font-weight: 300;
}
.dateLineResults span{
	font-size: 28px;
}
.todayWeatherLineResults{
	margin: 20px 50px;
	font-size: 120px;
	color: #e69580;
	height: 150px;
}
.todayWeatherColumn{
	margin-right: 50px;
	float: left;
}
.detailedTemperature{
	font-size: 20px;
	width: 200px;
}
.todayWeather-left{
	width: 70%;
	float:left;
	margin-bottom: 10px;
}
.todayWeather-right{
	width: 29%;
	float:right;
	margin-bottom: 10px;
}
.sevenDaysLineResults{
	margin: 0px 50px;
}
.dayWeather{
	text-align: center;
	width: 65px;
	font-size: 14px;
	float: left;
}
.next5days{
	margin-left: 190px;	
}
.next6days{
	margin-left: 140px;	
}
.dayWeather i{
	font-size: 40px;
}
.dayWeather p i{
	font-size: 14px;
}
/***********************************************************************************/
/*                                                                                 */
/*                                   Alert Box                                     */
/*                                                                                 */
/***********************************************************************************/

.alertBox{
	width: 600px;
	height: 150px;
	margin-left: 10%;
	margin-top: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
	background-color: #FFF;
	color: #4a6777;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
	display: none;
}

.closeAlertBox{
	cursor: pointer;
	width: 40px;
	float: right;
	font-size: 30px;
}

.alertMessage{
	margin: 60px;
	font-size: 20px;
}
/***********************************************************************************/
/*                                                                                 */
/*                                    Loader                                       */
/*                                                                                 */
/***********************************************************************************/

.loaderBox{
	width: 600px;
	height: 150px;
	margin-left: 10%;
	margin-top: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
	background-color: #FFF;
	color: #4a6777;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
	display: none;

}
.loadMessage{
	margin: 60px;
	font-size: 20px;
}